# The MIT License (MIT)
#
# Copyright (c) 2013 Fatih Karatana
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.
#
# This configuration file stores all system-wide global settings required to initiate the project.

# Set system configurable variables
[files]
host_file = /statistics/data/HostState.txt
instance_file = /statistics/data/InstanceState.txt
target_file = /statistics/data/Statistics.txt

# Set system locale settings to keep it internationalized
[locale]
language = en
datetime_format = %Y-%m-%d %H:%M

# Set logging parameters
[logging]
enable = True
level = Debug
# I use this kind of destination path as a dict because,
# I have various development environment such as Linux, OS X
destination = {"darwin": "/var/run/syslog", "linux2": "/dev/log"}
format = %(module)s-%(processName)s[%(process)d]: %(name)s: %(message)s